section {
  padding: 20px 13px 0 13px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;

  hr {
    opacity: 0.2;
  }

  .sidenav-logo {
    height: auto;

    h1 {
      padding-bottom: 20px;
      text-align: center;
    }
  }

  .sidenav-content {
    flex: 1;
  }

  .sidenav-footer {
    height: auto;

    hr {
      margin-bottom: 10px;
    }
  }
}
