@use '../../styles/variables.scss' as v;
@use '@angular/material' as mat;

// Customize the entire app. Change :root to your selector if you want to scope the styles.
.input-container {
  @include mat.timepicker-overrides(
    (
      container-background-color: orange,
      container-elevation-shadow: -4px -4px 5px 0px rgba(0, 0, 0, 0.5),
    )
  );
}

.container-agendar-aula {
  margin-left: 10px;
  width: auto;
  height: auto;
  border: 1px solid v.$cinza-escuro;
  border-radius: 10px;

  .input-container {
    padding: 10px 0 0 10px;
  }
}
