@use '../../styles/variables.scss' as v;

main {
  background-image: url('../../../../public/assets/png/archer_background.png');
  height: 100dvh;

  .template-container {
    width: 85dvh;
    background-color: v.$preto;
    opacity: 0.9;
    border-radius: 10px;
    border: 0.1px solid v.$cinza-escuro;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
