@use '../../styles/variables.scss' as v;

.default-template-page {
  height: 100dvh;

  .default-template-sidenav-content {
    width: 15%;
    height: 100%;
  }

  .default-template-page-content {
    width: auto;
    background-color: v.$cinza-muito-escuro;

    .container-boas-vindas {
      height: v.$height-container-boas-vindas;
      padding: 10px 0 10px 15px;

      .nome-pessoa {
        font-size: v.$font-size-texto-destaque;
        font-weight: normal;
      }
    }
  }
}
