<main>
  <mat-drawer-container class="default-template-page">
    <mat-drawer mode="side" opened class="default-template-sidenav-content"
      ><app-sidenav></app-sidenav
    ></mat-drawer>

    <mat-drawer-content class="default-template-page-content">
      <div class="container-boas-vindas">
        <app-title title="{{ pageName() }}" size="big"></app-title>
        <span class="nome-pessoa">{{ getMensagemBemVindoFormatada() }}</span>
      </div>
      <router-outlet (activate)="onActivate($event)"></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</main>
