@use '../../styles/variables.scss' as v;

.default-template-page {
  height: 100dvh;

  .default-template-sidenav-content {
    width: 15%;
    height: 100%;
  }

  .default-template-page-content {
    width: auto;
    background-color: v.$preto;

    .container-boas-vindas {
      height: v.$height-container-boas-vindas;
      padding: 15px;

      .nome-pagina {
        font-size: 30px;
        font-weight: bold;
      }

      .nome-pessoa {
        display: block;
        margin-top: 10px;
        font-size: 20px;
        font-weight: normal;
        bottom: 0;
      }
    }
  }
}
