$height-container-boas-vindas: 10%;

.container-boas-vindas {
  height: $height-container-boas-vindas;
}

mat-grid-list {
  height: calc(100% - $height-container-boas-vindas);
  width: auto;
  background-color: black;
}
