$lilas: #f2ddff;
$cinza-claro: #96999e;
$cinza-escuro: #5c5e61;
$roxo-escuro: #510980;
$roxo-medio-claro: #a212ff;
$roxo-escuro-opaco: #602f80;
$roxo-medio-escuro: #820ecc;
$preto: #0c0c0c;
$height-container-boas-vindas: 15%;

$font-size-logo: 45px;
$font-size-titulo: 30px;
$font-size-sub-titulo: 25px;
$font-size-texto-destaque: 20px;
$font-size-texto: 18px;
