$lilas: #f2ddff;
$cinza-claro: #96999e;
$cinza-escuro: #5c5e61;
$cinza-muito-escuro: #111111;
$roxo-escuro: #510980;
$roxo-medio-claro: #a212ff;
$roxo-medio-muito-claro: #c875ff;
$roxo-escuro-opaco: #602f80;
$roxo-medio-escuro: #820ecc;
$preto: #0c0c0c;
$dourado: #e3bc7b;
$height-container-boas-vindas: 15%;

$font-size-titulo-grande: 40px;
$font-size-titulo: 30px;
$font-size-sub-titulo: 25px;
$font-size-sub-titulo-card: 22px;
$font-size-texto-destaque: 20px;
$font-size-texto: 18px;
