@use '../../styles/variables.scss' as v;

main {
  background-image: url('../../../../public/assets/png/archer_background.png');
  height: 100dvh;

  .login-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 85dvh;
    background-color: v.$preto;
    opacity: 0.9;
    border-radius: 10px;
    border: 0.1px solid v.$cinza-escuro;

    position: absolute; /* Define a posição da div como absoluta em relação ao elemento pai ou ao viewport */
    top: 50%; /* Move a div para 50% da altura da tela */
    left: 50%; /* Move a div para 50% da largura da tela */
    transform: translate(-50%, -50%);

    .logo-container {
      width: 100%;
      padding-left: 10px;

      img {
        width: 100%;
      }
    }

    .input-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      padding: 30px;
    }

    .button {
      display: flex;
      padding: 20px 0 0 0px;
      width: 100%;

      button {
        flex-grow: 1;
      }
    }

    .divider-container {
      display: flex;
      justify-content: center;
      align-items: center;

      .divider {
        width: 80%;
      }
    }

    .cadastrar-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      padding: 20px;
    }
  }
}
