@use '../../styles/variables.scss' as v;

section {
  padding-top: 20px;

  .titulo-grupo {
    margin-left: 3px;
    color: v.$dourado;
    font-size: v.$font-size-texto-destaque;
    font-weight: bold;
  }

  .group-content {
    padding: 10px 0 0 8px;

    a {
      text-decoration: none;
      color: white;
    }

    :hover {
      background-color: rgb(105, 105, 104);
    }

    .item-content {
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      border-radius: 5px;
      font-size: v.$font-size-texto;

      .icon {
        color: v.$dourado;
      }

      span {
        padding-left: 20px;
      }
    }
  }

  hr {
    margin: 15px 0 15px 0;
    opacity: 0.2;
  }
}
