<section>
  @for (contentGroup of getContentGroupList(); track $index) {
    <span class="titulo-grupo">{{ contentGroup.title }}</span>

    @for (groupItem of contentGroup.groupItemList; track $index) {
      <div class="group-content">
        <a href="{{ groupItem.linkRef }}">
          <div class="item-content">
            <mat-icon fontIcon="{{ groupItem.icon }}"></mat-icon>
            <span>{{ groupItem.label }}</span>
          </div>
        </a>
      </div>
    }
    @if ($index + 1 !== contentGroupListLength) {
      <hr />
    }
  }
</section>
