@use '../../styles/variables.scss' as v;

:host {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  .sequencia-presenca-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;

    .fire-icon {
      color: v.$dourado;
      font-size: 70px;
      width: auto;
      height: auto;
    }

    .quantidade-dias {
      font-size: 70px;
      font-weight: bold;
      padding-right: 10px;
    }

    .message-dias-seguidos {
      font-size: v.$font-size-texto-destaque;
    }
  }

  .progress-bar-container {
    height: 40%;

    .label-progress-bar {
      font-size: v.$font-size-texto;
      display: block;
      padding-bottom: 10px;
    }

    .feedback-progress-bar-container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10px;

      .rating {
        font-size: v.$font-size-texto;
        padding-right: 8px;
      }

      .mood-icon {
        width: auto;
        height: 100%;
        color: #c0ae08;
        font-size: 35px;
        padding-right: 10px;
      }

      .mood-icon-message {
        font-size: v.$font-size-texto-destaque;
        font-weight: bold;
      }
    }
  }
}
