<div class="input-container">
  <div class="input-content">
    <form class="example-form">
      <mat-form-field appearance="outline">
        <mat-label>{{ label() }}</mat-label>
        <input
          [type]="botaoExibirSenha() ? 'password' : type()"
          matInput
          [placeholder]="placeholder()"
        />

        @if (type() == 'password') {
          <button
            matIconButton
            matSuffix
            (click)="clickShowPassword($event)"
            [attr.aria-label]="'Exibir senha'"
            [attr.aria-pressed]="botaoExibirSenha()"
          >
            <mat-icon>{{ botaoExibirSenha() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        }
        <mat-icon matSuffix>{{ icon() }}</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
