<div class="input-container">
  <div class="input-content">
    <form class="login-form">
      <mat-form-field appearance="outline">
        <mat-label>{{ label() }}</mat-label>
        <input [type]="getInputType()" matInput [placeholder]="placeholder()" [class]="class()" />

        @if (type() === 'password') {
          <button
            matIconButton
            matSuffix
            (click)="clickShowPassword($event)"
            [attr.aria-label]="'Exibir senha'"
            [attr.aria-pressed]="showPassword()"
          >
            <mat-icon>{{ showPassword() ? 'visibility' : 'visibility_off' }}</mat-icon>
          </button>
        }
        <mat-icon matSuffix>{{ icon() }}</mat-icon>
      </mat-form-field>
    </form>
  </div>
</div>
