<section class="grid-item">
  <div class="grid-item-container">
    <div class="grid-item-title">
      <app-title title="{{ gridTitle() }}" size="normal"></app-title>
    </div>
    <div class="grid-item-content">
      @if (gridContent() !== SemRegistro) {
        @if (gridContentInputs().length > 0) {
          @for (gridContentInput of gridContentInputs(); track gridContentInput) {
            <ng-container
              [ngComponentOutlet]="gridContent()"
              [ngComponentOutletInputs]="gridContentInput"
            ></ng-container>
          }
        } @else {
          <ng-container [ngComponentOutlet]="gridContent()"></ng-container>
        }
      } @else {
        <app-sem-registro
          [mensagem]="messages['sem.avisos']"
          [isAdicionaMensagemVerifiqueNovamenteMaisTarde]="true"
        ></app-sem-registro>
      }
    </div>
  </div>
</section>
