@use '../../../../styles/variables.scss' as v;

:host {
  width: 100%;
  height: 100%;
}

.grid-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;

  .grid-item-title {
    background-color: gray;
    height: 10%;
    font-size: v.$font-size-sub-titulo;
    font-weight: 600;
  }

  .grid-item-content {
    background-color: lightgray;
    height: 90%;
  }
}
